.c-button:hover>.c-button_inner[data-v-50808a10] {
    background-color: var(--blue);
    transform: scale(.9)
}

.c-button.cc-white:hover>.c-button_inner[data-v-50808a10] {
    background-color: var(--yellow)
}

.error-inner[data-v-a58d8d28] {
    min-height: 750px
}