.project-tag[data-v-8dab87f4]:first-child {
    background-color: var(--turquoise)
}

.project-tag[data-v-8dab87f4]:nth-child(2) {
    background-color: var(--purple)
}

.project-tag[data-v-8dab87f4]:nth-child(3) {
    background-color: var(--peach)
}

.project-tag[data-v-8dab87f4]:nth-child(4) {
    background-color: var(--pink);
    background-color: var(--aqua)
}

.project-thumbnail[data-v-8dab87f4] {
    max-height: 520px;
    overflow: hidden
}

.c-project.disabled[data-v-8dab87f4] {
    cursor: default
}

.thumbnail-img_block[data-v-8dab87f4] {
    align-items: center;
    background-color: transparent;
    -webkit-clip-path: polygon(58% 32%, 100% 41%, 100% 74%, 98% 100%, 0 100%, 0 85%, 8% 22%);
    clip-path: polygon(58% 32%, 100% 41%, 100% 74%, 98% 100%, 0 100%, 0 85%, 8% 22%);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

.thumbnail-img_block>img[data-v-8dab87f4] {
    opacity: 0;
    scale: 1.3
}

.prompt[data-v-8dab87f4] {
    align-items: center;
    background-color: #000000b3;
    bottom: 0;
    color: var(--white);
    display: flex;
    font-family: var(--title);
    font-size: 100px;
    font-weight: 500;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    transition: opacity .5s ease;
    z-index: 10
}

.c-project:hover .prompt[data-v-8dab87f4] {
    opacity: 1
}

@media screen and (max-width:767px) {
    .prompt[data-v-8dab87f4] {
        font-size: 50px
    }
}