.menu-link:hover>.menu-tag[data-v-7a2f44e8] {
    opacity: 1;
    scale: 1
}

.menu-link.cc-home.router-link-active[data-v-7a2f44e8],
.menu-link.cc-home[data-v-7a2f44e8]:hover {
    color: var(--green)
}

.menu-link.cc-about.router-link-active[data-v-7a2f44e8],
.menu-link.cc-about[data-v-7a2f44e8]:hover {
    color: var(--yellow)
}

.menu-link.cc-work.router-link-active[data-v-7a2f44e8],
.menu-link.cc-work[data-v-7a2f44e8]:hover {
    color: var(--blue)
}

.menu-link.cc-services.router-link-active[data-v-7a2f44e8],
.menu-link.cc-services[data-v-7a2f44e8]:hover {
    color: var(--turquoise)
}

.menu-link.cc-blog.router-link-active[data-v-7a2f44e8],
.menu-link.cc-blog[data-v-7a2f44e8]:hover {
    color: var(--purple)
}

.menu-link.cc-careers.router-link-active[data-v-7a2f44e8],
.menu-link.cc-careers[data-v-7a2f44e8]:hover {
    color: var(--blue)
}

.menu-link.cc-showreel.router-link-active[data-v-7a2f44e8],
.menu-link.cc-showreel[data-v-7a2f44e8]:hover {
    color: var(--light-blue)
}

.menu-link.cc-review.router-link-active[data-v-7a2f44e8],
.menu-link.cc-review[data-v-7a2f44e8]:hover {
    color: var(--peach)
}

.menu-thumbnail_content.contact[data-v-7a2f44e8] {
    overflow: hidden;
    padding-bottom: 0
}

.w-form-done[data-v-ad4bf5c4],
.w-form-fail[data-v-ad4bf5c4] {
    bottom: 0;
    display: block;
    left: 0;
    position: sticky;
    right: 0;
    top: auto;
    z-index: 10
}

.popup-overlay[data-v-ad4bf5c4] {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.popup-wrapper[data-v-ad4bf5c4] {
    transition: none
}

.page-transition[data-v-8da48fb1] {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999
}

.page-transition>div[data-v-8da48fb1] {
    background: #fff;
    height: 0;
    width: 100%
}